[user]
	name = Nemanja Malesija
	email = malesija.nemanja@gmail.com
[core]
	editor = nvim
[merge]
	conflictStyle = zdiff3
	tool = sublimemerge
[diff]
  tool = sublimemerge
[difftool "sublimemerge"]
    cmd = \"/Applications/Sublime Merge.app/Contents/SharedSupport/bin/smerge\" diff \"$LOCAL\" \"$REMOTE\"
    path = /Applications/Sublime Merge.app/Contents/SharedSupport/bin/smerge
[mergetool "sublimemerge"]
    cmd = \"/Applications/Sublime Merge.app/Contents/SharedSupport/bin/smerge\" mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
    trustExitCode = true

[alias]
